name: Hola mundo

on: #[push] #push, pull_request mas usado -
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:

  # ---- Instalacion de servicio MySQL 
  service-mysql: #nombre del job 
    runs-on: ubuntu-latest

    # --- Variables de entorno 
    env: #nivel Job
      MY_VAR: "My variable de entorno"

    

    # ---instalacion de servicios con imagen docker 
    #services:
    #  mysql: 
    #    image: mysql:5.7
    #    env:
    #      MYSQL_ROOT_PASSWORD: example
    #    ports:
    #      - 3306:3306

    #   redis:
    #    image: redis 
    #    ports:
    #      - 6379:6379
    
    steps:
      

      - name: Test install mysql
        env:
          STEP_MY_VAR: Nivel step
        run:  echo " Valor =  $MY_VAR, var step scope = $STEP_MY_VAR"

      - name: Variable GitHub
        run: echo " Variable GitHub ${{ vars.MY_VAR_REPO }}" # se hace referencia con vars.

      - name: Secret
        run : echo "Secret = ${{ secrets.MY_SECRET }}"

  #hola: #job se ejecuta dentro de ubuntu actual
  #  runs-on: ubuntu-latest

    #steps:
    #  - name: hola-step
    #    run: echo "Hola mundo"

    #  - name: touch-file
    #    run: touch hola.txt

    #  - name: set-text
    #    run: echo "hola Mundo" >> hola.txt

  #other:
  #  runs-on: ubuntu-latest
  #  needs: [hola] # lo hace dependiente del anterior job
  #  steps:
  #   - name: Checkout #
  #     uses: actions/checkout@v4.2.0

  #   - name: ls
  #     uses: ./.github/actions/my-action # llamar a una action para resuarla 
  #     with: 
  #       message: "Parametro pasado al action" #paso de parametros al action 

      #-   name: Setup Node.js environment # mejor opcion para instalar node
      #    uses: actions/setup-node@v4.0.4
      #    with:
      #        node-version: latest

      #-   name: node-version
      #    run: node --version

      #-   name: touch-file
      #    run: touch hola.txt

      #-   name: LS
      #    run: | # multilinea para instalar paquetes apt-get install  curl
      #        echo "hola mundo"
      #       cat hola.txt
      #        chmod +x script.sh
      #        ./script.sh
      #
      #-   name: PHP
      #    uses: shivammathur/setup-php@v2
      #    with:
      #        php-version: '8.3'

      #-   name: php-version
      #    run : php --version
# haciendo push  a master 4



        
